- @title = "fotologffffffu"

%h1 fotologffffffu!

= partial('search')

- unless @recent_users.nil?
    %recent_users
        %h2
            recent memories
        #userlist
            %ul
                - @recent_users.each do |each|
                    %li{:id => "recent_user_#{each}", :class => 'recent_user_item'}
                        %a{:href => "/#{each}"}
                            = "/#{each}"

= partial('share')

