- @title = "#{@name} at fotologffffffu"

#fotologffffffu_tite{:style => 'text-align: left; padding: 10px;'}
    %a{:href => "/"}
        %h2
            fotologffffffu

%h1
    = "/#{@name}"

= partial('search')

= partial('share')

%div{:id => 'photos'}
    - @photos.each do |photo|
        %link= photo
            %img(src = photo)

%p{:id => 'end'}
    that's alllllllll

